#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container img {
  height: 9rem;
}

.logo-container h2 {
  margin-left: 2.9rem;
  line-height: 4.6rem;
  color: black;
}

.buttons-container {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

.buttons-container a {
  width: 30rem;
  height: 7.5rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: black;

  transition: background-color 0.2s;
}

.buttons-container a:first-child {
  margin-bottom: 1rem;
}

.buttons-container a.register-company {
  background: var(--color-primary);
}

.buttons-container a.register-resume {
  background: var(--color-secundary);
}

.buttons-container a.register-company:hover {
  background: var(--color-primary-dark);
}

.buttons-container a.register-resume:hover {
  background: var(--color-secundary-dark);
}

@media (min-width: 1100px) {
  #page-landing #page-landing-content .logo-container img {
    height: 40rem;
  }

  #page-landing-content {
    max-width: 1100px;
  }

  .logo-container {
    margin: 0;
  }

  .logo-container h2 {
    font-size: 3.6rem;
  }

  .buttons-container {
    display: inline-flex;
  }

  .buttons-container a:first-child {
    margin-left: 50rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .logo-container img {
    height: 100%;
  }

  .buttons-container a {
    font-size: 2.4rem;
  }
}
